body{
    background-image: url("/Trizit img/homepage-bg.avif") ;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    /* overflow: hidden; this is the scrollbar (add height for body to scroll) */
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("/Trizit img/homepage-bg.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    filter: blur(5px);
    z-index: -1; /* Place the blurred background behind the content */
}


.main-nav {
    position: relative;
    top: 78px;
    width: auto;
}


.main-nav h1{
    position: absolute;
    top: 90px;
    left: 30px;
    right: 0px;
    color: white;
    font-size: 70px;
}

.main-nav h2{
    position: absolute;
    top: 310px;
    left: 30px;
    right: 0px;
    color: rgb(240, 237, 237);
    font-size: 20px;
}

.main-nav button{
    position: absolute;
    top: 380px;
    left: 30px;
    padding: 8px 15px 8px 15px;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.2s;
}

.main-nav button:hover{
    background-color: rgb(21, 147, 188);
    color: white;
}
